@import "tailwindcss";

body {
  background: #f9fafb;
  color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-fillout-primary: #f59d0e;
  --color-fillout-foreground: #1a1a1a;
}
